html {
  height: 80%;
  width: 100%;
}
.btn{
  width: 100%;
  border: 1px solid black;
  margin: 5px;
  padding: 1px;
  text-align: center;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.small{
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}